<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDGoLaJDYn9dMZX-acGwLC0XD3LbJfNHS8</string>
	<key>GCM_SENDER_ID</key>
	<string>647386236586</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myChat</string>
	<key>PROJECT_ID</key>
	<string>mychat-backend-b7f4d</string>
	<key>STORAGE_BUCKET</key>
	<string>mychat-backend-b7f4d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:647386236586:ios:f4d872ddda08e7aa32f2d3</string>
</dict>
</plist>